// breakpoints
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

// container sizes
$tablet-width: 720px;
$laptop-width: 960px;
$desktop-width: 1140px;

// screens array
$screens: (('', '', ''),
  ('--tablet', $tablet, $tablet-width),
  ('--laptop', $laptop, $laptop-width),
  ('--desktop', $desktop, $desktop-width));
